{% extends "portfolio/base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}

<h2 style="text-align: center; color: #4fc3f7;">My Projects</h2>

<div class="project">
  <h3>💡 AI-Driven Threat Detection System</h3>
  <p><strong>Objective:</strong> To build a smart surveillance solution that uses artificial intelligence to detect suspicious activity in real-time using computer vision techniques.</p>
  <p><strong>Technologies Used:</strong> Python, OpenCV,TensorFlow, CNN, SQLite</p>
  <p><strong>Conclusion:</strong> Successfully deployed a prototype capable of detecting potential threats (e.g., weapons, crowd aggression) with real-time alerts and email notifications to authorities.</p>
</div>

<hr>

<div class="project">
  <h3>👮 Digital Police website</h3>
  <p><strong>Objective:</strong> To digitalize police record-keeping and case tracking, offering citizens a platform to register complaints and view updates online.</p>
  <p><strong>Technologies Used:</strong>Python , Django, Android Studio, SQLite, Google Maps API</p>
  <p><strong>Conclusion:</strong> The app enhanced transparency between police and the public and reduced paper-based processes, improving crime data accessibility and response time.</p>
</div>

<hr>

<div class="project">
  <h3>🫀 Heart Health Detection Using Speech Signals</h3>
  <p><strong>Objective:</strong> To predict heart health risks by analyzing variations in speech features using deep learning.</p>
  <p><strong>Technologies Used:</strong> Python, Librosa, MFCC, CNN, RNN, TensorFlow/Keras</p>
  <p><strong>Conclusion:</strong> Achieved promising accuracy in classifying potential cardiovascular anomalies through voice analysis, offering a non-invasive health monitoring approach.</p>
</div>

<hr>
{% endblock %}