{% extends "portfolio/base.html" %}
{% load static %}
{% block title %}Resume{% endblock %}

{% block content %}
<div class="resume-section">
  <h2 class="resume-title">📄 My Resume</h2>
  <p class="resume-text">
    You can download my latest resume by clicking the button below. It outlines my skills in Python, Django, AI/ML, and full-stack development, along with relevant academic and project experience.
  </p>

  <a href="https://drive.google.com/file/d/1OuInYL1EodoMKVXpyD9TDDtG3aS1l6fl/view?usp=drivesdk" download class="download-btn">
    ⬇ Download Resume (PDF)
  </a>
</div>
{% endblock %}